baseURL = 'https://marcus8448.github.io/'
languageCode = 'en-ca'
title = 'marcus8448'
copyright = 'Copyright © 2022–2025 marcus8448'

[params]
  [params.author]
    name = 'marcus8448'

[build]
  [build.buildStats]
    enable = true

[markuo]
  [markup.highlight]
    style = "catppuccin-frappe"

[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'

[outputs]
  home = ['html']
  section = ['html']
  taxonomy = ['html']
  term = ['html']
