{{ define "main" }}
{{ .Content }}
<ul class="index">
  {{ with .Site.GetPage "/projects" }}
  {{ range .RegularPages }}
  <li>
    <article class="project">
      {{ if .Params.icon }}
      <a href="{{ .RelPermalink }}" class="icon">
        <img referrerpolicy="no-referrer" src="{{ .Params.icon }}" alt="{{ .Title | plainify | title }}">
      </a>
      {{ end }}

      <ul class="tools">
        {{ range .Params.tools }}
        <li>
          {{ $invert := eq (. | lower) "rust" }} <!--to keep formatting nice in HTML class string-->
          <img src="/icon/{{ . | lower }}.svg" alt="{{ . }} icon" title="{{ . }}"
               class="{{ if $invert }} invert-dark {{ end }}">
        </li>
        {{ end }}
      </ul>

      <hgroup class="title">
        <h2><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h2>
        <p class="date-meta"><small>{{ (replace .Params.timeframe "-" "&#8209;") | safeHTML }}</small></p>
      </hgroup>
      <p class="description">{{ .Params.Description | safeHTML }}</p>
    </article>
  </li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}

{{ define "css" }}
{{- partial "css.html" "projects.css" "projects.css" -}}
{{ end }}
