{{- define "title" -}}
<title>{{ .Title }} | Blog</title>
<meta property="og:title" content="{{ .Title }} | Blog">
{{- end -}}

{{- define "main" -}}
<hgroup class="post-heading">
  <h1>{{ .Title }}</h1>
  {{- with .Params.subtitle -}}
  <p class="subtitle" role="doc-subtitle">{{ . }}</p>
  {{- end -}}
  <p class="date-meta"><small>Published <time datetime='{{ .PublishDate | time.Format "2006-01-02" }}'>{{ .PublishDate | time.Format ":date_long" }} {{ .PublishDate | time.Format ":time_short" }}</time></small></p>
  {{- if ne .PublishDate .Lastmod -}}
  <p class="date-meta"><small>Updated <time datetime='{{ .Lastmod | time.Format "2006-01-02" }}'>{{ .Lastmod | time.Format ":date_long" }} {{ .Lastmod | time.Format ":time_short" }}</time></small></p>
  {{- end -}}
</hgroup>

<div class="content">
  {{ .Content }}
</div>
{{- end -}}

{{- define "css" -}}
{{- partial "css.html" "page.css" "page.css" -}}
{{- partial "css.html" "code.css" "code.css" -}}
{{- end -}}
