{{ define "content-inner" }}
<main>
  {{ .Content }}

  <div class="flex flex-col border-t mt-8">
    {{ with .Site.GetPage "/blog" }}
    {{ range .RegularPages }}
      <article class="block listing">
        <h2 class="-mt-2">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <p class="text-sm text-meta pb-2">
          {{ .Date | time.Format ":date_medium" }}
        </p>
        <p class="text-base text-gray-800 dark:text-gray-100 text-pretty">
          {{ .Params.Description | .RenderString }}
        </p>
      </article>
    {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}

{{ define "misc" }}
{{ partialCached "blog-links.html" . }}
{{end}}
