{{ define "main" }}
{{ .Content }}

<ul class="list">
  {{ with .Site.GetPage "/blog" }}
    {{ range .RegularPages }}
      <li>
        <article class="post">
          <div class="info">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <time class="date-meta">{{ .Date | time.Format ":date_medium" }}</time>
          </div>
          <p class="description">{{ .Params.Description | .RenderString }}</p>
        </article>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}
