{{ define "misc" }}
  {{ partialCached "blog-links.html" . }}
{{end}}

{{ define "title" }}
<title>{{ .Title }} | Blog</title>
<meta property="og:title" content="{{ .Title }} | Blog">
{{ end }}

{{ define "content-inner" }}
<main>
  <div class="post-heading">
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
      <p class="subtitle">{{ . }}</p>
    {{ end }}
    <p class="text-meta">Published <time>{{ .PublishDate | time.Format ":date_long" }} {{ .PublishDate | time.Format ":time_short" }}</time></p>
  </div>

  <div class="markdown">
    {{ .Content }}
  </div>
  {{ if ne .PublishDate .Lastmod}}
    <footer style="margin-top: 2rem; border-top: solid 1px var(--spacer-color);">
      <p class="text-meta">Updated on <time>{{ .Lastmod | time.Format ":date_long" }}</time></p>
    </footer>
  {{ end }}
</main>
{{ end }}
