{{ define "misc" }}
  {{ partialCached "blog-links.html" . }}
{{end}}

{{ define "title" }}
<title>{{ .Title }} | Blog</title>
<meta property="og:title" content="{{ .Title }} | Blog">
{{ end }}

{{ define "content-inner" }}
<main class="content-writing">
  <div class="mb-4 min-prs:mb-8">
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <p class="text-lg subtitle -mb-0.5">{{ . }}</p>
    {{ end }}
    <p class="text-base meta">{{ .Date | time.Format ":date_long" }} {{ .Date | time.Format ":time_short" }}</p>
  </div>

  <div class="writing">
    {{ .Content }}
  </div>
</main>
{{ end }}
