<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" style="visibility: hidden;">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#3e8ed0"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Description }}"/>
  <meta name="keywords" content="marcus8448"/>
  <meta name="author" content="marcus8448"/>

  {{ block "title" . }}
    <title>{{.Title}} | marcus8448</title>
    <meta property="og:title" content="{{ .Title }} | marcus8448">
  {{ end }}

  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="/">
  <meta name="color-scheme" content="light dark">

  {{ block "icons" . }}
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/28928887?size=16" sizes="16x16">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/28928887?size=32" sizes="32x32">
    <link rel="apple-touch-icon" href="https://avatars.githubusercontent.com/u/28928887?size=192">
  {{ end }}

  {{- with (templates.Defer (dict "key" "global")) -}}
    {{- partialCached "css.html" . -}}
  {{- end -}}

  {{ with resources.Get "navbar.js" | js.Build (dict "minify" "true") }}
    <script src="{{ .RelPermalink }}" defer></script>
  {{ end }}

  {{ block "head" . }}
  {{ end }}
</head>

<body>
{{ block "misc" . }}
{{ end }}

{{ block "nav" . }}
<div class="flex flex-row justify-between fixed w-full z-10 h-12 pl-3 pr-3 gap-4 bg-sky-700 dark:bg-sky-900 text-gray-100">
  <div class="flex flex-row items-center shrink-0 gap-4">
    <a href="/"><img src="https://avatars.githubusercontent.com/u/28928887?size=192" alt="marcus8448" class="rounded-xl size-8"></a>
    <a href="/" class="text-base max-sm:hidden" tabindex="-1">marcus8448</a>
  </div>
  <div class="flex flex-row items-center justify-between gap-4 w-full max-xs:hidden">
    <div class="flex flex-row items-center gap-2">
      <div class="border-l h-8 mr-1 max-xs:hidden"></div>
      <a class="text-sm hover:text-gray-300 px-1" href="/">Home</a>
      <a class="text-sm hover:text-gray-300 px-1" href="/blog">Blog</a>
      <a class="text-sm hover:text-gray-300 px-1" href="/projects">Projects</a>
      <a class="text-sm hover:text-gray-300 px-1" href="/contact">Contact</a>
    </div>

    <div class="flex items-center gap-4 max-xs:hidden">
      {{ block "nav-links" . }}
      {{ end }}
      <a aria-label="GitHub Account" href="https://github.com/marcus8448">
        <img src="/icon/github.svg" alt="GitHub Logo" class="invert size-6">
      </a>
    </div>
  </div>
  <div class="hidden max-xs:flex flex-row items-center shrink-0 h-full">
    <a id="nav-burger" role="button" class="max-xs:flex flex-col gap-1.5" aria-label="menu" aria-expanded="false">
      <span class="border-t w-5" aria-hidden="true"> </span>
      <span class="border-t w-5" aria-hidden="true"> </span>
      <span class="border-t w-5" aria-hidden="true"> </span>
    </a>
  </div>
</div>

<div class="pt-12"><!--HACK: spacing for navbar--></div>

<div id="nav-dropdown" class="fixed z-10 hidden min-xs:!hidden flex-col w-full bg-sky-600 dark:bg-sky-800 text-gray-100">
  <div class="flex flex-col items-start justify-between w-full">
      <a class="text-sm hover:text-gray-300 p-3 w-full hover:bg-sky-500 hover:dark:bg-sky-700" href="/">Home</a>
      <a class="text-sm hover:text-gray-300 p-3 w-full hover:bg-sky-500 hover:dark:bg-sky-700" href="/blog">Blog</a>
      <a class="text-sm hover:text-gray-300 p-3 w-full hover:bg-sky-500 hover:dark:bg-sky-700" href="/projects">Projects</a>
      <a class="text-sm hover:text-gray-300 p-3 w-full hover:bg-sky-500 hover:dark:bg-sky-700" href="/contact">Contact</a>
  </div>
</div>
{{ end }}

<div class="flex flex-col" style="min-height: calc(100% - var(--spacing) * 12);">
  {{ block "main" . }}
    {{ block "pre" . }}
    {{ end }}

    {{ block "content" . }}
      <div class="flex flex-row flex-grow">
        <div class="grow max-prs:hidden"></div>
        <main class="min-prs:rounded-md block grow shrink-0 w-full min-prs:my-8 p-4 prose dark:prose-invert prose-h1:-mb-0">
          {{ block "content-inner" . }}
            {{ .Content }}
          {{ end }}
        </main>
        <div class="grow max-prs:hidden"></div>
      </div>
    {{ end }}
  {{ end }}

  {{ block "footer" . }}
  <footer class="shrink-0">
    <div class="text-center align-middle text-gray-500 dark:text-gray-400 m-8">
      <p>
        Copyright &#169; 2022–2025 marcus8448<br>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="text-sky-600">CC&nbsp;BY&nbsp;NC&nbsp;SA&nbsp;4.0</a>
      </p>
    </div>
  </footer>
  {{ end }}
</div>

</body>
</html>
