/* 52em: mobile breakpoint, 40em drop links below, 33em shrink title + image */
*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, small, li {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-size: 1rem;
  vertical-align: baseline;
}

body {
  --bg: #3b3e45;
  --main: #f0f5f0;
  --text: #000;
  --meta: oklch(45.1% 0.027 264.364);
  --link: oklch(58.8% 0.158 241.966);
  --link-hover: oklch(68.5% 0.169 237.323);

  @media (prefers-contrast: more) {
    --meta: oklch(44.6% 0.03 256.802);
  }

  display: grid;
  max-width: 100vw;
  height: 100vh;
  margin: 0;

  background-color: var(--bg);
  color: var(--text);

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  tab-size: 4;
  scroll-behavior: smooth;
  place-items: center;
}

.date-meta {
  color: var(--meta);
  margin-top: -0.2rem;
  margin-bottom: 0.2rem;
}

.container {
  background-color: var(--main);
  padding: 1rem;
}

.header {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.header .heading {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header img {
  width: 6rem;
  border-radius: 1rem;
}

.header .title {
  font-size: 4rem;
  margin: 0;
}

.header .subtitle {
  font-size: 1rem;
  text-align: right;
  text-transform: lowercase;
  margin-top: -0.75rem;
}

.header .links {
  display: inline-block;
  text-transform: lowercase;
  text-align: right;

  li {
    line-height: calc(12 / 9);
  }
}

.header a {
  color: var(--text);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
}

h4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
}

h5 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.2;
}

small {
  font-size: 0.9rem;
}

p, span {
  line-height: 1.25;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: oklch(40.8% 0.2 241.966);
}

footer {
  display: grid;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

main {
  border-bottom: 1px dashed var(--text);
  border-top: 1px dashed var(--text);

  padding-block: 0.5rem;
}

main:empty {
  display: none;
}

img[src="https://avatars.githubusercontent.com/u/28928887?size=16"] {
  image-rendering: pixelated;
}

.a11y-text {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  opacity: 0;
  padding: 0.25rem;
  background-color: var(--main);
  color: var(--text);
}

.a11y-text:focus {
  opacity: 1;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0.75rem;
  margin-bottom: 0.2rem;
}

.content p {
  line-height: 1.5;
  margin-bottom: 0.75rem;
  text-wrap: pretty;
}

.content ul,
.content ol {
  margin-block: 0.125rem;
  padding-left: 1rem;
  list-style-position: outside;
}

.content ul {
  list-style-type: disc;
}

.content ul > li > ul {
  list-style-type: circle;
}

.content ol {
  list-style-type: decimal;
}

.content ol > li > ol {
  list-style-type: lower-alpha;
}

.content li {
  margin-block: 0.125rem;
  line-height: 1.4;
}

.content code:not(.highlight *) {
  border-radius: 0.25rem;
  padding-inline: 0.2rem;

  background-color: oklch(90% 0.006 264.531);
}

.content a[href] {
  text-decoration-line: underline;
  color: var(--link);
}

.content a[href]:hover {
  text-decoration-line: underline;
  color: var(--link-hover);
  text-decoration-color: var(--link-hover);
}

ul.index > li {
  clear: left;
  padding-inline: 1rem;
  padding-block: 1rem;
}
