/* 52em: mobile breakpoint, 40em drop links below, 33em shrink title + image */
*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, small, li {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-size: 1rem;
  vertical-align: baseline;
}

body {
  --bg: #3b3e45;
  --main: #f0f5f0;
  --text: #000;
  --meta: oklch(45.1% 0.027 264.364);
  --hlh: oklch(17.3% 0 0);
  --l: oklch(50.0% 0.158 241.966);
  --lh: oklch(60.0% 0.169 237.323);
  --il: oklch(40.0% 0.158 241.966);
  --ilh: oklch(50.0% 0.169 237.323);

  @media (prefers-contrast: more) {
    --meta: oklch(44.6% 0.03 256.802);
  }

  display: grid;
  max-width: 100vw;
  margin: 0;

  background-color: var(--bg);
  color: var(--text);

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  tab-size: 4;
  scroll-behavior: smooth;
  place-items: center;
  text-decoration-color: currentColor;
}

main {
  border-bottom: 1px dashed var(--text);
  border-top: 1px dashed var(--text);

  padding-block: 0.5em;
}

main:empty {
  display: none;
}

footer.page-footer {
  display: grid;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.date-meta {
  color: var(--meta);
}

.sub {
  line-height: 1;
  font-size: 0.9rem;
}

.container {
  background-color: var(--main);
  padding: 1rem;
}

hgroup p,
/*hgroup h1,*/
hgroup h2 {
  line-height: 1;
}

.page-header {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.page-header .heading {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.page-header .heading img {
  width: 6rem;
  border-radius: 1rem;
}

.page-header .heading .title {
  font-size: 4rem;
  margin: 0;
}

.page-header .heading .subtitle {
  font-size: 1rem;
  text-align: right;
  text-transform: lowercase;
}

.page-header .links {
  display: inline-block;
  text-transform: lowercase;
  text-align: right;
}

.page-header .links li {
  line-height: calc(12 / 9);
}

a[href] {
  text-decoration: none;
  color: var(--text);
}

a[href]:hover {
  text-decoration: none;
  color: var(--hlh);
}

.index a[href] {
  color: var(--il);
}

.index a[href]:hover {
  color: var(--ilh);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
}

h4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
}

h5 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.2;
}

small {
  font-size: 0.9rem;
}

p, span {
  line-height: 1.5;
}

.content a[href] {
  text-decoration-line: underline;
  color: var(--l);
  padding-inline: 0.05rem;
}

.content a[href]:hover {
  color: var(--lh);
}

.content a[href] code {
  display: inline-block;
}
/*.content a[href]:has(code) {*/
/*  color: var(--cl);*/
/*}*/
/*.content a[href]:has(code):hover {*/
/*  color: var(--clh);*/
/*}*/


ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img[src="https://avatars.githubusercontent.com/u/28928887?size=16"] {
  image-rendering: pixelated;
}

.a11y-text {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;

  overflow: hidden;
  opacity: 0;
  padding: 0.1rem 0.2rem;
  background-color: var(--main);
  color: var(--text);
}

.a11y-text:focus {
  opacity: 1;
}

.content h1 {
  line-height: 1.2;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0.75rem;
  margin-bottom: 0.2rem;
}

.content p {
  line-height: 1.5;
  margin-bottom: 0.75rem;
  text-wrap: pretty;
}

.content ul,
.content ol {
  margin-block: 0.125rem;
  padding-left: 1rem;
  list-style-position: outside;
}

.content ul {
  list-style-type: disc;
}

.content ul > li > ul {
  list-style-type: circle;
}

.content ol {
  list-style-type: decimal;
}

.content ol > li > ol {
  list-style-type: lower-alpha;
}

.content li {
  margin-block: 0.125rem;
  line-height: 1.5;
}

.content code:not(.highlight *) {
  border-radius: 0.25rem;
  padding: 0 0.2rem 0.025rem 0.2rem;

  background-color: oklch(92% 0.006 264.531);
}
