body {
  --backing: #3b3e45;
  --background: #f0f5f0;
  --text: #000;
}


.text-meta {
  color: oklch(45.1% 0.027 264.364);
  @media (prefers-contrast: more) {
    color: oklch(44.6% 0.03 256.802);
  }
}
