/* width >=52em */
body::after {
  content: "end";
  display: block;
  visibility: hidden;
  height: 1rem;
}

body {
  padding: 1rem;
}

.container {
  width: 75%;
  max-width: 44rem;
  border-radius: 0.5rem;
}

.header {
  padding-bottom: 0.25rem;
}
