/* width >=52em */
body::after {
  content: "end";
  display: block;
  visibility: hidden;
  height: 1rem;
}

body {
  padding: 1rem;
}

.container {
  width: 75%;
  max-width: 44rem;
  border-radius: 0.5rem;
}

.header {
  padding-bottom: 0.5rem;

  .subtitle {
    font-size: 1.0rem;
    margin-top: -0.75rem;
    text-align: right;
    text-transform: lowercase;
  }

  @media screen and (max-width: 40em) {
    display: block;
  }
}

.highlight {
  max-width: 100%;
}
