a.badge-link {
  display: inline-flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;

  border: solid 1px oklch(37.3% .034 259.733);
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  color: oklch(27.9% .041 260.031);

  img {
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1;
  }
}

a.badge-link:hover {
  background-color: oklch(86.7% .003 264.542);
}

.badges {
  padding-block: 1rem;
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;

  @media screen and (max-width: 40em) {
    flex-direction: column;
  }
}
