<nav class="normal">
  <a href="/" class="logo">
    <img src="https://avatars.githubusercontent.com/u/28928887?size=128" alt="marcus8448">
    <p class="text-base">marcus8448</p>
  </a>
  <div class="links hidden-small">
    <div class="left">
      <div style="border-left: solid 1px; height: 2rem; margin-inline: 0.25rem;"></div>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="right">
      {{ block "nav-links" . }}
      {{ end }}
      <a aria-label="GitHub Account" href="https://github.com/marcus8448">
        <img src="/icon/github.svg" alt="GitHub Logo" style="filter: invert(1)">
      </a>
    </div>
  </div>
  <a id="nav-burger" role="button" class="burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"> </span>
    <span aria-hidden="true"> </span>
    <span aria-hidden="true"> </span>
  </a>
</nav>

<div style="min-height: 3rem"><!--HACK: spacing for fixed navbar--></div>

<nav id="nav-dropdown" class="vertical hidden">
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="/projects">Projects</a>
  <a href="/contact">Contact</a>
</nav>
